#circle
{
    position: relative;
    background-color: #CD853F   ;
    margin: 20px auto;
    width: 400px;
    height: 400px;
    border-radius: 200px;
}
#data
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 48px;
    color: black;
    border: 2px solid black;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    border-width: 5px;
}
#data:focus
{
    width: 280px;
    border-color: #0000FF;
}
